* {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.body {
  height: 1500.467529296875px;

  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  position: center;
  padding-top: 50px;
  padding-left: 50px;
  width: 1000px;
  padding-right: 50px;
}
.first {
  display: flex;
  background-color: #f5f5f5;
  width: 1010px;
  height: 290.361083984375px;

  margin: 50px 50px 50px 50px;

  display: block;
}

.left {
  width: 470.13787841796875px;
  height: 224.4635772705078px;
  margin-top: 30px;
  margin-left: 30px;
  opacity: 1;
  background-color: #f5f5f5;
}
.left #id {
  color: #545be8;
  line-height: 50px;
}

.first h1 {
  line-height: 100 px;
  font: Poppins;
  font-weight: 700;
}

.left p {
  color: #969696;
}

.highlight {
  color: #545be8;
}

.left button {
  background-color: #545be8;
  border: #ffffff;
  border-radius: 4.12px;
  width: 70.01615905761719px;
  height: 19.70835304260254px;
  line-height: 100 px;
}

.second {
  width: 1010px;
  height: 149.09312438964844px;
  margin-top: 40px;
  margin-left: 150px;
  opacity: 1;
  display: flex;
  position: relative;
}

.new1 {
  width: 149.91697692871094px;
  height: 104.66350555419922px;
  opacity: 1;
}

.new1 #p1 {
  color: #545be8;
  width: 55px;
  height: 9px;
  opacity: 1;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 7.41px;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 5px;
}
.new1 h2 {
  width: 119.8511962890625px;
  height: 50px;
  opacity: 1;
  font-family: Poppins;
  font-weight: 700;
  font-style: Bold;
  font-size: 16.47px;
  line-height: 100%;
  letter-spacing: 0%;
  color: black;
  margin-bottom: 10px;
}

.new1 #p2 {
  color: #969696;
  width: 149.9169464111328px;
  height: 33px;
  opacity: 1;
  font-size: 7.41px;
  line-height: 1.3;
}

.features-container {
  display: flex;
  gap: 10px;
  margin-left: 20px;
  position: absolute;
  left: 180px;
  top: 13.11px;
}
.Professional,
.Course,
.interesting {
  width: 109.96656036376953px;
  height: 109.96656036376953px;
  opacity: 1;
  border-radius: 4.12px;
  background-color: #545be8;
  position: relative;
  padding: 9.88px;
  margin-left: 10px;
}
.Professional img,
.Course img,
.interesting img {
  width: 13.179512977600098px;
  height: 13.179512977600098px;
  background-color: white;
  border-radius: 1px;
  display: block;
  margin-bottom: 8px;
}
.Professional span,
.Course span,
.interesting span {
  color: #ffffff;
  width: 80.72451782226562px;
  height: 13px;
  font-size: 8px;
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}
.Professional p,
.Course p,
.interesting p {
  width: 93.08030700683594px;
  height: 36px;
  color: #dddddd;
  font-size: 5.77px;
  margin: 0;
  line-height: 1.3;
}
.decoration-img1,
.decoration-img2 {
  position: absolute;
}
.third {
  background: linear-gradient(90deg, #545be8 0%, #272db0 100%);
  width: 1010px;
  height: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -900.89px;
  margin-left: 80px;
  margin-right: 80px;
  display: block;
}
.contain {
  width: 470px;
  height: 237px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text {
  display: block;
  text-align: right;
  color: #fff;
  text-align: left;
}

.text #p1 {
  color: #ffce48;
  font-family: Inter;
  font-size: 7.41px;
  font-weight: 400;
  margin-bottom: 10px;
}
.text h2 {
  font-family: Poppins;
  font-size: 16.47px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #fff;
}
.text p {
  font-family: Poppins;
  font-size: 7.41px;
  color: #dddddd;
  line-height: 1.4;
  margin-bottom: 20px;
}
.text .cl1,
.text .cl2,
.text .cl3 {
  display: inline-block;
  text-align: right;
  margin-left: 20px;
  display: flex;
}

.text h4 {
  font-size: 18px;
  font-weight: 600;
  color: #ffce48;
}

.text span {
  display: block;
  font-size: 12px;
  color: #fff;
}
